!!! 5
%html
  %head
    %title pseudocitrus: fic masterpost
    %meta{:content => "width=320,initial-scale=1,maximum-scale=1", :name => "viewport"}
    %link{:href => "styles.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet"}
  %body
    .main
      %h1 fic masterpost
      %p hello! i'm pseudocitrus. here's a list of things i've written.

      %ul
        %li ✿=R18, contains explicit content 
        %li ✧=ficlet
        %li fics in pairings are listed such that newest=last
        %li 
          my 
          %a{:href => "https://archiveofourown.org/users/pseudocitrus/pseuds/pseudocitrus"} ao3
          contains more tags/descriptions ^^ (but i don’t post most “non-polished” stuff there.)
        %li the au tags (ex. “red child au”) contain multiple chapters and (sometimes) related headcanons
        %li
          you can also look at 
          %a{:href => "https://pseudocitrus.tumblr.com/tagged/headcanons"} misc headcanons.
          these are loosely written fics by me, and also others’ headcanons :)
        %li 
          %a{:href => "http://pseudocitrus.tumblr.com/tagged/fic-translations"} some of my fics have also been translated into other languages

      %h2 recent
      %ul
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/167964227479/hc-where-nishiki-used-to-always-do-this-that-is"} it's been a while
          %span.nsfw✿ 
          %span.rough✧
          (Nishiki/Kimi)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/167725312074/hc-where-ui-convinces-hirako-that-the-best-thing"} new clothes
          %span.nsfw✿ 
          %span.rough✧
          (Ui, Hirako, Yusa)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166936602069/au-where-retouka-saves-human-kuronek-from-the"}please don't eat me, pt. 2
          %span.nsfw✿ 
          %span.rough✧
          (Touka/Kaneki)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166864152579/au-where-retouka-saves-human-kuronek-from-the"}please don't eat me
          %span.nsfw✿ 
          %span.rough✧
          (Touka/Kaneki)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166849252924/hc-where-some-evenings-touka-stays-up-to-wait-for"} the things that embarrass you
          %span.nsfw✿ 
          %span.rough✧
          (Touka/Kaneki)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166745278849/hc-where-touka-waits-a-long-time-for-kaneki-to"} if you want to
          %span.nsfw✿ 
          %span.rough✧
          (Touka/Kaneki)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166696442064/hc-where-when-ui-says-it-back-to-the-surface"} back to the surface
          %span.nsfw✿ 
          %span.rough✧
          (Ui &amp; Hirako)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166692348964/hc-where-240-turned-haise-was-not-an-entity-anyone"} 240-turned-haise
          %span.nsfw✿ 
          %span.rough✧
          (Arima  &amp;/ Haise)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/166688671304/hc-where-for-touka-in-those-last-moments-what-she"} this is what death feels like
          %span.nsfw✿ 
          %span.rough✧
          (Kirishima Touka)
        %li.rough
          %a{:href => "http://pseudocitrus.tumblr.com/post/164090394609/hc-where-hairu-drags-uis-old-ass-to-literally"} purikura
          %span.nsfw✿ 
          %span.rough✧
          (Ui &amp;/ Hairu)






      %h2 Tokyo Ghoul
      %h3 Kaneki Ken/Kirishima Touka
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com:80/post/93554288869/tokyo-ghoul-fanfic-sweet#93554288869">Sweet</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/96588231929/tokyo-ghoul-fanfic-saccharine#96588231929">Saccharine 1</a> ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/97668536714/tokyo-ghoul-fanfic-saccharine-ch-2#97668536714">Saccharine 2</a>✿ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/104502937539/tokyo-ghoul-fanfic-touken-saccharine-ch-3">Saccharine 3</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/101744535714/tokyo-ghoul-fanfic-touken-room-temperature">Room Temperature</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/101811790694/tokyo-ghoul-fanfic-touken-summer-dessert">Summer Dessert</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/102068006059/tokyo-ghoul-fanfic-touken-shhhh">Shhhh</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/104980624304/tokyo-ghoul-fanfic-touken-nsfw-6-dom-top">Break Room</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/105159636409/tokyo-ghoul-fanfic-touken-nsfw-2-who-brings">Magazine</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/111017344644/hard-work-tokyo-ghoul-fanfic-kirishima">otsukaresama au</a>: <a href="http://pseudocitrus.tumblr.com/post/111017344644/hard-work-tokyo-ghoul-fanfic-kirishima">Hard Work</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/116256655229/you-realize-that-i-need-to-request-secret-sex">gently scrambled</a>✿ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/116740154824/gently-scrambled-2-tokyo-ghoul-fanfic-kaneki">gently scrambled 2</a>✿ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/120577789204/this-is-a-really-dirty-prompt-69-blushes">gently scrambled 3</a>✿&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/132498198554/grapholagnia-kinky-shirokaneki-and-touka">gently scrambled: save</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/113616183959/omgg-you-should-totally-write-a-touken-spiderman">Centipede, Barista; Rain, Book</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/writer-illustrator-au/chrono">writer/illustrator au</a>: <a href="http://pseudocitrus.tumblr.com/post/117751401409/a-headcanon-for-touken-that-touka-is-an">start</a>✧ ↣ <a href="http://pseudocitrus.tumblr.com/post/118054554439/would-you-write-more-in-the-writer-illustrator-au">firsts</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/117902903649/neimana-replied-to-your-post-a-headcanon-for">ice cream parlor au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/117996231814/flower-language-tokyo-ghoul-fanfic-kirishima">Flower Language</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/one-eyed-king-au/chrono">One-Eyed King AU</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/132116511114/touken-ageswap-au-headcanons">ageswap au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/134568222989/wounds-tokyo-ghoul-fanfic">Wounds</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/135827197384/how-do-you-think-kaneki-would-get-along-with-touka">kaneki &amp; kirishimas</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/136275198848/oooh-the-ccgs-black-reaper-being-asked-to">investigating :re</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/136317756584/i-wonder-if-there-are-anything-like-ghoul-brothels">four nights</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/141386281614/hues-touka-x-kaneki">hues</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com:80/post/144739586089/title-reshape-pairing-toukentouka-x-kaneki">reshape</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/touken-bug-aus">touken bug AUs</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/150944665874/the-lovely-wheel-kaneki-x-touka">the lovely wheel</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/154597621169/some-time-later">&ldquo;some time later&rdquo;</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/kirishima-sensei-touken-au">kirishima-sensei &amp; kaneki-kun au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/154743879469/nicholaschka-touka-x-kaneki">nikolaschka</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/155327860864/37c-touka-x-kaneki">37C</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/161307590119/birthmark-kaneki-x-touka">birthmark</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/162518816639/kirishima-week-day-1-touka">plenty of reasons</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/162758280329/kirishima-week-day-5-pastpresentfuture">bridge</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/163024267499/slowly-exploring-each-others-bodies-again-the">again</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/private/163613991249/tumblr_otxdmwaPdl1skqe1k">fancy name</a>✿</li>
      <li class="li1"><a href="http://pseudocitrus.tumblr.com/post/166688671304/hc-where-for-touka-in-those-last-moments-what-she"><span class="s2">this is what death feels like</span></a><span class="s3">✧</span><span class="s2"><br /></span></li>
      <li class="li1"><a href="http://pseudocitrus.tumblr.com/post/166745278849/hc-where-touka-waits-a-long-time-for-kaneki-to"><span class="s2">if you want to</span></a><span class="s3">✧</span><span class="s2"><br /></span></li>
      <li class="li1"><a href="http://pseudocitrus.tumblr.com/post/166849252924/hc-where-some-evenings-touka-stays-up-to-wait-for"><span class="s2">the things that embarrass you</span></a><span class="s3">✧</span><span class="s2"><br /></span></li>
      <li class="li1"><span class="s2"><a href="http://pseudocitrus.tumblr.com/tagged/ageswap-kanetou-au">ageswap kanetou au</a>: <a href="http://pseudocitrus.tumblr.com/post/166864152579/au-where-retouka-saves-human-kuronek-from-the">please don&rsquo;t eat me</a></span>✧ <span class="s2">↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/166936602069/au-where-retouka-saves-human-kuronek-from-the">pt. 2</a></span></li>
      </ul>

      <h3>Touka/Sasaki (with some Kaneki)</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/99385833804/tokyo-ghoul-fanfic-six-rabbits">Six Rabbits</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/101912426449/tokyo-ghoul-fanfic-touken-touka-x-sasaki-haise">Backburner</a>&amp;<a href="http://pseudocitrus.tumblr.com/post/103224305139/tokyo-ghoul-fanfic-touken-touka-x-sasaki-haise">Backburner:re</a> (<a href="http://pseudocitrus.tumblr.com/post/101993218969/tokyo-ghoul-fanfic-touken-tousaki-usagiland">Usagisland</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/102506645574/tokyo-ghoul-fanfic-touken-tousaki-treat-and">Treat &amp; Trick</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/110633930164/a-continuation-of-9-from-backburner-for-first">Eine Kleine</a>✿)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/130651308599/fghjklkvhg-haise-asking-touka-to-pretend-to-be-his">CCG haise-sensei and touka</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/104965645264/up-to-you-which-ever-is-fun-to-write">Pet</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/105335987339/tokyo-ghoul-fanfic-touka-x-sasaki-haise">Bandaids</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/red-child-au/chrono">red child au</a>: <a href="http://pseudocitrus.tumblr.com/post/108502295669/i-loved-you-touka-x-sasaki-smut-fanfic-really-much">Red Child</a> ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/115221290009/if-red-child-had-continued-without-the-plan-to">Read Proposal</a>&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/113270329604/i-understand-or-perhaps-i-think-i-do-why-you">Epilogue</a> ✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/110548843529/touken-prompt-haise-invites-touka-to-a">I have scarcely left you</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/110762900469/how-does-onsen-tokyo-ghoul-fanfic-kirishima">How Does Onsen</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/112085673749/you-know-how-youve-been-discussing-shirazu">OVER MY DEAD BODY</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/112619269484/if-more-like-when-touka-and-sasaki-kiss-how-do">TG:re ch19.5</a>✧</li>

      <li><a href="http://pseudocitrus.tumblr.com/tagged/teacher-student-au/chrono">teacher/student au</a>: <a href="http://pseudocitrus.tumblr.com/post/114645594449/have-you-thought-about-writing-some-tousaki-in">Vocabularies</a>↣<a href="http://pseudocitrus.tumblr.com/post/114864984614/i-really-missed-your-touken-fics-please">&ldquo;Vocabularies epilogue&rdquo;</a>↣<a href="http://pseudocitrus.tumblr.com/post/115128811724/elisions-tokyo-ghoul-fanfic-kirishima">Elisions</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/115778557724/out-of-interest-in-the-student-teacher-au-does">Voltas</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/115890882134/meioses-tokyo-ghoul-fanfic-kirishima">Meioses</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/124475981749/semantics-tokyo-ghoul-fanfic">Semantics</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/152541117249/catharsis-tokyo-ghoul-fanfic-kirishima">Catharsis</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/116171641639/colloquialisms-tokyo-ghoul-fanfic-kirishima">Colloqualisms</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/118872803234/keys-tokyo-ghoul-fanfic-sasaki-haise-kirishima">Keys</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/121633335489/sorry-for-sending-you-this-bc-i-know-that-youre">stepsiblings au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/bodyguard-au/chrono">bodyguard au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/mermaid-ghoul-au/chrono">mermaid ghoul au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/126729858949/impalpable-ash-toukahaise">impalpable ash</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/128671610059/old-wood-tokyo-ghoul-fanfic">old wood</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/129194177829/pareidolia-tokyo-ghoul-fanfic">pareidolia</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/132335923309/anagapesis-with-tousaki-please">nothing</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/lights-au">lights au</a>: <a href="http://pseudocitrus.tumblr.com/post/134514200144/i-live-below-you-and-i-was-minding-my-own">candles</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/135941246594/if-youre-not-planning-on-continuing-your">screens</a>✧ ↣ <a href="http://pseudocitrus.tumblr.com/post/136373898499/i-love-your-christmas-au-since-im-guessing-it">sparks</a>✧ ↣ <a href="http://pseudocitrus.tumblr.com/post/136490297819/i-love-your-lights-au-d-thankyou-so-much-for-all">glints</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/143344415794/extraction-touka-x-haise">Extraction</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/157722617599/condition-variable-touka-x-haise">condition variable</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/162714631704/im-browsing-through-your-blog-and-loving-it">flowershop/tattoo au</a>✧</li>
      </ul>

      <h3>Rize/Touka</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/109230029404/my-prompt-for-rize-touka-first-time-fic-is-blush">Blush</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/131981474544/uuhhm-apodyopisgymnophoria-rizetou-o">cross</a>✿</li>
      </ul>
      <h3>Arima/Touka</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/tagged/armistice-au">armistice au</a>: <a href="http://pseudocitrus.tumblr.com/tagged/armistice-fic/chrono">armistice | the last thing my heart is worth</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/117858643164/you-should-make-a-50-shades-of-grey-touka-and">50 shades of grey au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/118325473064/so-let-say-touka-was-human-and-decided-to-work-in">CCG au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/misc-kishouka-hs-au/chrono">high school au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/kishouka-cafe-au/chrono">cafe au</a>✧✿</li>
      </ul>

      <h3>Hide/Touka</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/114055040769/can-you-do-hide-x-touka-fanfic">Whim</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/123348858244/could-you-do-a-touka-showing-hide-her-kagune">Epilogue</a></li>
      </ul>
      <h3>Hide/Touka/Sasaki</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/tagged/whim-au/chrono">whim au</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/114688916329/hey-on-the-touhide-fic-i-have-some-ideas-what">Meeting Sasaki</a>✧</li>
      </ul>
      <h3>Nishiki &amp; Touka</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/114501178749/re-spite-tokyo-ghoul-fanfic-kirishima">(re)spite</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/126549495014/touka-hurtcomfort-headcanons">hurt/comfort headcanons</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/137958392889/equilibrium-tokyo-ghoul-fanfic">equilibrium</a></li>
      </ul>
      <h3>Ayato/Hinami</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/tagged/just-fine-tg/chrono">just fine au</a>: <a href="http://pseudocitrus.tumblr.com/post/105066636709/hehe-last-one-ayahina-nsfw-6">Just Fine 1</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/105939850479/tokyo-ghoul-fanfic-ayato-hinami-nsfw-13-whos">Just Fine 2</a>✿ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/107353568814/that-ayahina-was-amazing">Just Fine 3</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/keep-away-au">keep away au</a>: <a href="http://pseudocitrus.tumblr.com/post/122225944644/jinx-tokyo-ghoul-fanfic-kirishima">Jinx</a> ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/122120319074/finding-tokyo-ghoul-fanfic-kirishima">Cat&rsquo;s Cradle</a>&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/112341204599/i-love-your-ayahina-prompts-do-you-think-you">Keep Away</a>&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/122314917064/bullrush-tokyo-ghoul-fanfic-kirishima">Bullrush</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/112619269484/if-more-like-when-touka-and-sasaki-kiss-how-do">TG:re ch19.5</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/127081384274/omg-have-you-heard-of-okunoshima-island-could">rabbit island</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/124808755099/here-are-some-sad-ayahina-headcanons-balled-up">birth day</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/134135014734/plumes-tokyo-ghoul-fanfic">plumes</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/135691251144/because-of-the-calendar-picture-of-hinami-putting">healthy glow</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/136014370764/can-i-request-for-one-sided-ayahina-idk-i-feel">slight</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/145807766469/headcanon-where-hina-sweetheart-of-aogiri-starts">hina and aogiri read-alongs</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/162567919579/kirishima-week-day-4-ayato">occlusion</a></li>
      </ul>
      <h3>Nishiki/Kimi</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/115332964754/im-dying-for-the-nishikimi-like-the-everyday">precious future</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/127206761104/nishikimi-breakup-headcanons">breakup headcanons</a>✧</li>
      %li.rough
        %a{:href => "http://pseudocitrus.tumblr.com/post/167964227479/hc-where-nishiki-used-to-always-do-this-that-is"} it's been a while
        %span.nsfw✿ 
        %span.rough✧
        (Nishiki/Kimi)
      </ul>
      <h3>Arima/&amp;Kaneki, Arima/&amp;Haise</h3>
      <ul class="fanfics" style="line-height: 19.6px;">
      <li><a href="http://pseudocitrus.tumblr.com/tagged/lycoris-au">lycoris au</a>: <a href="http://pseudocitrus.tumblr.com/post/136275896319/lycoris-tokyo-ghoul-fanfic">lycoris</a>✿ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/136275936109/lycorisepilogue-tokyo-ghoul-fanfic">lycoris:epilogue</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/139096156199/under-glass-arima-x-kaneki">under glass</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/143469514774/radiata-arima-x-kaneki">radiata</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/142574807254/no-better-than-a-bird-haise-arima">no better than a bird</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/149915877159/will-you-consider-writing-a-sweet-arisasa-fic">not by any other name</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/155562820454/extraordinary-semblance-arima-x-kaneki">extraordinary semblance</a>✿</li>
      <li class="li1"><a href="http://pseudocitrus.tumblr.com/post/166692348964/hc-where-240-turned-haise-was-not-an-entity-anyone"><span class="s2">240-turned-haise</span></a><span class="s3">✧</span><span class="s2"><br /></span></li>
      </ul>
      <h3>Kirishima Hikari/Kirishima Arata</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/tagged/kirishima-parents-fics">a story like this before</a>: <a href="http://pseudocitrus.tumblr.com/post/113169497364/how-hikari-met-kirishima-arata-headcanons">How Hikari met Arata</a>✧ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/118989449324/explicit-tokyo-ghoul-fanfic-kirishima">Explicit</a>✿&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/118741953409/have-you-seen-neimanas-picture-of-arata-go-look">Fill</a>✿&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/119121761264/words-tokyo-ghoul-fanfic-kirishima">Words</a></li>
      </ul>
      <h3>Touka/Yoriko</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/121325742359/layer-tokyo-ghoul-fanfic-kirishima">layer</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/136730261919/bridgework-tokyo-ghoul-fanfic">bridgework</a>✿</li>
      </ul>
      <h3>Rize/Eto</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/120612226264/rizeeto-anon-im-so-sad-i-really-loved-all-the">games</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/139301345739/myopia-rize-x-takatsuki-sen">myopia</a>✿</li>
      </ul>
      <h3>Touka/Eto</h3>
      <ul class="fanfics" style="line-height: 19.6000003814697px;">
      <li><a href="http://pseudocitrus.tumblr.com/post/128890069684/coughs-so-how-do-you-feel-about-etotouka">apple</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/129282507954/draft-tokyo-ghoul-fanfic">draft</a></li>
      </ul>
      <h3>Eto/Kaneki</h3>
      <ul class="fanfics" style="line-height: 19.6000003814697px;">
      <li><a href="http://pseudocitrus.tumblr.com/post/135534213514/god-imagine-the-kanekieto-hatesex-im-sorry-i">whispers</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/139178100704/eto-kanekis-tgre63-outing">TG:re:63 outing</a>✧</li>
      </ul>
      <h3>Urie/Mutsuki</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/120653277934/im-impatient-and-thirsty-so-here-are-some-misc">training</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/dawn-disrupts-me-au/chrono">dawn disrupts me au</a>: <a href="http://pseudocitrus.tumblr.com/post/126156521069/i-really-dont-like-sending-a-prompt-to-you">dawn disrupts me</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/128951765009/nsfw-mutsurie-wasnt-something-i-thought-i-wanted">a cork-trapped wine</a>✧✿&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/129755879459/of-pasture-and-of-eyes-tokyo-ghoul-fanfic">of pasture and of eyes</a>✿&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/131128629749/drenching-what-is-dark-tokyo-ghoul-fanfic">drenching what is dark</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/132978079289/tarantism-the-urge-to-overcome-melancholy-by">dance</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/136985869484/conference">conference</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/mutsurie-arranged-marriage-au/chrono">arranged marriage au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/140817508894/pangs-mutsuki-x-urie">pangs</a>✿</li>
      </ul>
      <h3>Amon/Akira</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/116447933264/i-know-that-you-havent-written-for-this-pairing">one thousand teeth</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/133632778244/if-you-can-akiramon-headcanons-with-half-ghoul">half-ghoul amon headcanons</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/160073911474/capacity-amon-x-akira">capacity</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/164953367119/astray-amon-x-akira">astray</a></li>
      </ul>
      <h3>Seidou/Akira</h3>
      <ul class="fanfics" style="line-height: 19.6000003814697px;">
      <li><a href="http://pseudocitrus.tumblr.com:80/post/117398737564/i-need-an-angsty-ayahina-seiaki-fic-that-will-give">Sorbet</a>✿</li>
      </ul>
      <h3>Qs Squad</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/114185742469/do-you-have-any-love-letter-headcanons-for-sasaki">Love Letters</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/121549737074/ok-so-everyone-looked-relatively-chill-at-the">Preparing for the Awards Ceremony</a>✧</li>
      </ul>
      <h3>Saiko/Shirazu</h3>
      <ul class="fanfics" style="line-height: 19.6px;">
      <li><a href="http://pseudocitrus.tumblr.com/post/121935568809/shirazu-taking-saiko-around-in-his-motorcycle-but">motorcycle</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/128813495869/can-you-please-write-shirazusaiko-im-dying-here">hair</a>✧</li>
      </ul>
      <h3>Hairu/Matsumae</h3>
      <ul class="fanfics" style="line-height: 19.6px;">
      <li><a href="http://pseudocitrus.tumblr.com/post/132661109494/hairumatsumae-au-headcanons">feeling</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/reincarnation-au">reincarnation au</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/134773499099/hybrid-tea-matsumaehairu">hybrid tea</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/139521405619/budding-matsumae-x-hairu">budding</a></li>
      </ul>
      <h3>Arima/Eto</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/147900597729/do-you-have-some-arieto-headcanons-you-can-share">contrasts</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/148700325537/for-arieto-do-you-think-which-body-part-of-eto">favorite part</a>✧✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/149057304779/do-you-have-more-random-arieto-headcanons-i-guess">autograph</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/150752136004/extravagant-arima-x-eto">extravagant</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/156509459294/present-arima-x-eto">present</a>✿</li>
      </ul>
      <h3>Furuta/Arima</h3>
      <ul class="fanfics" style="line-height: 19.6px;">
      <li><a href="http://pseudocitrus.tumblr.com/tagged/right-bower-au">right bower au</a>: <a href="http://pseudocitrus.tumblr.com/post/147381356879/right-bower-arima-x-furuta">right bower</a>✿ ↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/147550449199/dry-ace-arima-x-furuta">dry ace</a>✿&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/149556754634/old-maid-arima-x-furuta">old maid</a>✿</li>
      </ul>
      <h3>Misc.</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/97196781444/tokyo-ghoul-fanfic-amai#97196781444">Amai</a> (Touka &amp; Ayato)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/113025835279/post-tg-pre-tg-re-ficlet">Recruiting Centipede</a>✧ (Sasaki/Kaneki &amp; Arima &amp; Akira)</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/warm-earth-au/chrono">warm earth au</a> (Touka &amp;/ Kaneki &amp;/ Ayato)</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/teacher-student-au/chrono">teacher/student au</a>: <a href="http://pseudocitrus.tumblr.com/post/114417427119/break-tokyo-ghoul-fanfic-tsukiyama-shuu-sasaki#114417427119">Break</a>✿ (Rize/Haise/Shuu)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/113392224994/silhouette-tokyo-ghoul-fanfic-urie-kuki-x">silhouette</a> (Urie/Touka)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/121113172439/touka-mutsuki-headcanons-mutsuki-starts-going-on">reveal</a>✧ (Touka/Mutsuki)</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/arcade-au">arcade au</a>✧ (Ayato/Saiko)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/122115614899/haise-stopping-by-arimas-place-before-the-awards">brush</a>✧ (Haise &amp;/ Arima)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/119253089689/would-you-think-about-writing-some-short-drabble">Swoop</a> (Kaneki &amp; Hinami)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/129019228876/peel-tokyo-ghoul-fanfic">peel</a> (Seidou &amp; Eto)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/132035069294/oooo-autolatry-since-we-dont-know-if">desire</a>✿ (Sasaki Haise)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/133740986139/recolor-tokyo-ghoul-fanfic">recolor</a> (Touka &amp; Yomo)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/133384668839/ui-hairu-headcanons">kanda</a>✧ (Ui/&amp;Hairu)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/134037883339/oniongrass-ahh-oh-noo-i-thought-at-first-you">wine</a>✧ (Matsumae/Itori)</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/ship-aesthetics">ship aesthetics</a> (misc.)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/136683516859/pseudocitrus-what-if-saiko-cut-her-hair-because">cut</a>✧ (Saiko)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/139402374384/reverberation-touka-x-kimi">reverberation</a> (Touka/Kimi)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/139534001231/fragrance-hinami-touka">fragrance</a> (Hinami/Touka)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/140192957074/oversee-furuta-x-kaneki">oversee</a>✿ (Furuta/Kaneki)</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/kirishima-fam-hcs">kirishima family headcanons</a>✧</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/random-akitou-au">random akitou au</a>✧ (Akira/Touka)</li>
      <li><a href="http://pseudocitrus.tumblr.com/tagged/garden-uncle-take-hcs">garden uncle take headcanons</a>✧ (Take &amp; Garden Children)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/148353248464/matsuriurie-where-matsuris-invitations-finally">tie</a>✧ (Matsuri/Urie)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/148079511844/do-you-have-headcanons-about-take-x-arima">eye to eye</a>✧ (Arima/Take)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/148869772069/headcanon-where-the-fueguchi-couple-tries-over-and">clover</a>✧ (Fueguchi Family)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/149356006834/blurred-furuta-x-touka">blurred</a>✿ (Furuta/Touka)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/159054411284/instrument-of-peace-amon-x-touka">instrument of peace</a> (Amon/Touka)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/163867063809/after-the-latest-chapter-i-feel-were-even-closer">together</a>✧ (Urie/Saiko)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/163193648009/hc-where-saikos-hair-started-getting-v-unkempt">haircut</a>✧ (Saiko/Urie)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/163195405129/hc-where-once-the-wedding-party-has-finally-dies">post-wedding</a>✧ (Yomo/Hirako)</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/164090394609/hc-where-hairu-drags-uis-old-ass-to-literally">purikura</a>✧ (Ui/&amp;Hairu)</li>
      <li class="li1"><a href="http://pseudocitrus.tumblr.com/post/166696442064/hc-where-when-ui-says-it-back-to-the-surface"><span class="s2">back to the surface</span></a><span class="s3">✧</span><span class="s2"> (Ui &amp; Hirako)</span></li>
      %li.rough
        %a{:href => "http://pseudocitrus.tumblr.com/post/167725312074/hc-where-ui-convinces-hirako-that-the-best-thing"} new clothes
        %span.nsfw✿ 
        %span.rough✧
        (Ui, Hirako, Yusa)
      </ul>
      <h2>Yuri!!! on Ice</h2>
      <h3>Victor/Yuri</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/152747729034/spurious-beauties-and-excellencies-victor-x">spurious beauties and excellencies</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/155629057544/sintering-victor-x-yuri">sintering</a>✿</li>
      </ul>
      <h2>Transistor</h2>
      <h3>Sybil, Red &amp; Sybil, and Red/Boxer (respectively)</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/99761541619/preprocess-transistor-fanfic">preprocess</a>() ↣ <a href="http://pseudocitrus.tumblr.com/post/106281527579/link-transistor-fanfic">link</a>()&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/92893086499/start-a-transistor-fanfic">start</a>()</li>
      </ul>
      <h3>Red/Boxer</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/106282843134/old-friends-transistor-fanfic">Old Friends</a> ↣ <a href="http://pseudocitrus.tumblr.com/post/113847333584/new-words-transistor-fanfic">New Words</a>&nbsp;↣&nbsp;<a href="http://pseudocitrus.tumblr.com/post/106849857869/new-year-transistor-fanfic">New Year</a></li>
      </ul>
      <h3>Red/Sybil</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/97195543119/transistor-au-where-red-is-processed-into-the#97195543119">Sybil gets the Transistor</a>✧</li>
      </ul>
      <h2>Noragami</h2>
      <h3>Yato/Hiyori</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/76753199755/noragami-fanfic-ordinary-high-school-life#76753199755">Ordinary High School Life</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/81366309144/noragami-fic-red#81366309144">Red</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/79000415066/noragami-fanfic-tail-roof#79000415066">Tail &amp; Roof</a>✿ ↣ <a href="http://pseudocitrus.tumblr.com/post/81462239834/noragami-fanfic-capybari#81462239834">Capybari</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/81651663122/noragami-fanfic-sleep-tactics#81651663122">Sleep Tactics</a>✿</li>
      </ul>
      <h3>Bishamon/Kazuma</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/78660716538/noragami-fanfic-snow-spring#78660716538">Snow &amp; Spring</a>✿</li>
      </ul>
      <h3>Bishamon/Ebisu</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/98357437559/noragami-fanfic-to-shore-to-shore">To Shore, To Shore</a></li>
      </ul>
      <h3>Daikoku/Kofuku</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/84984660409/noragami-fanfic-wealth#84984660409">Wealth</a>✿</li>
      </ul>
      <h2>Kamisama Hajimemashita</h2>
      <h3>Nanami/Tomoe</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/63340563886/kh-fic-chapter-77-5#63340563886">Chapter 77.5: Shrine &amp; Bite</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/63346758187/kh-fic-chapter-92-5#63346758187">Chapter 92.5: Cabin &amp; Rain</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com:80/post/63347411315/kh-fic-chapter-94-5#63347411315">Chapter 94.5: Grove &amp; Petals</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/63348046789/kh-fic-chapter-100-5#63348046789">Chapter 100.5: Porch &amp; Sake</a>✿</li>
      <li><a href="http://pseudocitrus.tumblr.com/post/70799053655/kamisama-hajimemashita-fic-light-again#70799053655">Light Again</a></li>
      <li><a href="http://pseudocitrus.tumblr.com/post/74571021822/kamisama-hajimemashita-lemon-study-game#74571021822">Study Game</a>✿</li>
      </ul>
      <h3>Tomoe</h3>
      <ul class="fanfics">
      <li><a href="https://archiveofourown.org/works/728093/chapters/1351874">Fox &amp; Shrine</a></li>
      </ul>
      <h2>Attack on Titan</h2>
      <h3>Mikasa/Eren</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/63348784466/snk-fic-obstacle-course#63348784466">Obstacle Course</a>✿</li>
      </ul>
      <h2>Akuma to Dolce</h2>
      <h3>Mayuri/Beaut</h3>
      <ul class="fanfics">
      <li><a href="https://archiveofourown.org/works/994028/chapters/1965834">Dolce Kiss</a></li>
      </ul>
      <h2>Horimiya</h2>
      <h3>Hori/Miyamura</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/88433571619/horimiya-fanfic-truffle-colored-kiss#88433571619">Truffle-Colored Kiss</a></li>
      </ul>
      <h2>Avatar: Legend of Korra</h2>
      <h3>Korra/Asami</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/105745653409/legend-of-korra-korrasami-fanfic-hummingbirds">Hummingbirds</a></li>
      </ul>
      <h2>Bastion</h2>
      <h3>General</h3>
      <ul class="fanfics">
      <li><a href="http://pseudocitrus.tumblr.com/post/93266942629/bastion-transistor-fanfic-i-hear-something#93266942629">Something Shiny</a></li>
      </ul>
